<form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)" novalidate>
     <input #title="ngModel" type="text" name="title" ngModel [ngClass]="{'invalid': !searchForm.valid || searchForm.pristine || searchForm.untouched}" required minlength="2">
     <input type="submit" [disabled]="!searchForm.valid">
     <span *ngIf="!searchForm.valid">Has errors</span>
     <span class="error" *ngIf="title.errors?.minlength">Actual characterlength: {{title.errors.minlength.actualLength}}</span>
</form>

<li class="collection-item avatar" *ngFor="let movie of moviesSearch$ | async" (click)="addMovie(movie.onlineId)">
     <img src="{{movie.poster}}" [alt]="movie.title" /> <span class="title">{{movie.title}}</span>
</li>
